@using RecipePlannerLibrary.Models
<style>
    #addForm, #addStepForm {
        max-width: 600px;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        display: block;
    }

        #addForm input[type="text"],
        #addStepForm input[type="text"],
        #addStepForm select,
        #addForm select {
            width: 100%;
            padding: 10px;
            font-size: 18px;
            margin-bottom: 10px;
            border-radius: 5px;
            border: 1px solid #e6e6e6;
            box-sizing: border-box;
        }

        #addForm input[type="submit"],
        #addStepForm input[type="submit"],
        #addStepForm input[type="button"],
        #addForm input[type="button"] {
            padding: 5px 10px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #33b5e5;
            color: #fff;
            margin-right: 10px;
        }

        #addForm #cancelButton,
        #addStepForm #cancelButton{
            background-color: #d9534f;
            color: #fff;
            margin-left: 10px;
        }

        #addForm label,
        #addStepForm label{
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
        }

        #addForm .form-group,
        #addStepFrom .form-group{
            margin-bottom: 15px;
        }

        #addForm .button-group,
        #addStepForm .button-group{
            margin-top: 20px;
            text-align: right;
        }

    #addRecipe {
        max-width: 1200px;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        display: block;
    }

    #addRecipe input[type="text"],
    #addRecipe select {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
    }

    #addRecipeinput[type="submit"],
    #addRecipe input[type="button"] {
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #33b5e5;
        color: #fff;
        margin-right: 10px;
    }

    #addRecipe #cancelButton {
        background-color: #d9534f;
        color: #fff;
        margin-left: 10px;
    }

    #addRecipe label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
    }

    #addRecipe .form-group {
        margin-bottom: 15px;
    }

    #addRecipe .button-group {
        margin-top: 20px;
        text-align: right;
    }

    .form-container label.error {
        font-size: 14px;
    }

</style>

<div class="row">
    <div class="col-md-12">
        <form id="addRecipe">
            <div class="form-group">
                <label for="recipeName">Recipe Name:</label>
                <input type="text" name="recipeName" id="recipeName"/>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" name="description" id="description"/>
            </div>
            <div class="form-group">
                <h1>Ingredients</h1>
                <table id="IngredientsTable" class="table">
                    <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Quantity</th>
                        <th>Measurement</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
            <div class="form-group">
                <h1>Steps</h1>
                <table id="StepsTable" class="table">
                    <thead>
                    <tr>
                        <th>Step</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </form>
        <p>Please add all ingredients and steps in order</p>
    </div>
    <h2>Ingredients</h2>
    <div class="col-md-6">
        <form id="addForm">
            <div class="form-group">
                <label for="txtIngredientName">Ingredient Name:</label>
                <input type="text" name="txtIngredientName" id="txtIngredientName"/>
            </div>
            <div class="form-group">
                <label for="txtQuantity">Quantity:</label>
                <input type="text" name="txtQuantity" id="txtQuantity"/>
            </div>
            <div class="form-group">
                <label for="measurement">Measurement:</label>
                <select name="Measurement" id="measurement">
                    @foreach (var measurement in ViewBag.measurements)
                    {
                        <option value="@measurement">@measurement</option>
                    }
                </select>
                @if (ViewBag.Error != null)
                {
                    <label class="error" style="color: red">@ViewBag.Error</label>
                }
            </div>
            <div class="button-group">
                <button onsubmit="addIngredient()" class="btn btn-primary page-button" id="addIngredientButton">Add Ingredient</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Steps</h2>
        <form id="addStepForm">
            <div class="form-group">
                <label for="recipeName">Recipe Step:</label>
                <input type="text" name="recipeStep" id="recipeStep"/>
            </div>
            <button onsubmit="addStep()" class="btn btn-primary page-button" id="addStepButton">Add Step</button>
        </form>
    </div>
    <input type="submit" style="margin-bottom: 20px;" class="btn btn-primary page-button" asp-action="addIngredient" class=""value="Add Recipe" id="addRecipeButton"/>
    <input type="submit" class="btn btn-primary page-button" asp-action="addShoppingListIngredient" value="Cancel" id="cancelRecipe"/>
</div>


@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}

<script>
 var addIngredientButton = document.getElementById('addIngredientButton');
 var addStepButton = document.getElementById("addStepButton");
 
 
 document.getElementById('addForm').addEventListener('submit', function(event) {

        event.preventDefault();


        addIngredient();

        document.getElementById('txtIngredientName').value = '';
        document.getElementById('txtQuantity').value = '';
        document.getElementById('measurement').selectedIndex = 0;
    });
    
 document.getElementById('addStepForm').addEventListener('submit', function(event) {

        event.preventDefault();


        addStep();

        document.getElementById('recipeStep').value = '';
    });
    
 function addStep() {

      var row = document.createElement('tr');
      var stepValue = document.getElementById("recipeStep").value;

      var nameCell = document.createElement('td');
      nameCell.innerText = stepValue;
      row.appendChild(nameCell);

      var actionsCell = document.createElement('td');
      var deleteButton = document.createElement('button');
      deleteButton.innerText = 'Delete';
      deleteButton.onclick = function() {
        row.remove();
      };
      actionsCell.appendChild(deleteButton);
      row.appendChild(actionsCell);

      var table = document.getElementById('StepsTable').getElementsByTagName('tbody')[0];
  table.appendChild(row);

}

function addIngredient() {
  var name = document.getElementById('txtIngredientName').value;
  var quantity = document.getElementById('txtQuantity').value;
  var measurement = document.getElementById('measurement').value;


  var row = document.createElement('tr');


  var nameCell = document.createElement('td');
  nameCell.innerText = name;
  row.appendChild(nameCell);

  var quantityCell = document.createElement('td');
  quantityCell.innerText = quantity;
  row.appendChild(quantityCell);

  var measurementCell = document.createElement('td');
  measurementCell.innerText = measurement;
  row.appendChild(measurementCell);


  var actionsCell = document.createElement('td');
  var deleteButton = document.createElement('button');
  deleteButton.innerText = 'Delete';
  deleteButton.onclick = function() {
    row.remove();
  };
  actionsCell.appendChild(deleteButton);
  row.appendChild(actionsCell);


  var table = document.getElementById('IngredientsTable').getElementsByTagName('tbody')[0];
  table.appendChild(row);

  document.getElementById('txtIngredientName').value = '';
  document.getElementById('txtQuantity').value = '';
}



</script>
