@model RecipePlannerLibrary.Login
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style>
    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 48px;
        color: #444;
    }

    .container {
        max-width: 600px;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        display: block;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
        color: #444;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    #submit {
        background-color: #33b5e5;
        color: #fff;
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #register {
        background-color: #e6e6e6;
        color: #444;
        padding: 10px 40px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .text-danger {
        color: red;
    }

</style>

<head>
    <title>Recipe Planner</title>
</head>

<body>
    <h1>Welcome to Recipe Planner</h1>
    <div class="container" id="login">
        <form class="form-horizontal" asp-action="Index">
            <div class="form-group">
                <label class="control-label">Username:</label>
                <input asp-for="Username" class="form-control" type="text" id="username" />
            </div>
            <div class="form-group">
                <label class="control-label">Password:</label>
                <input asp-for="Password" class="form-control" type="password" id="password" />
            </div>
            @if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="form-group">
                    <div class="text-danger">@Model.ErrorMessage</div>
                </div>
            }
            <div class="button">
                <input type="submit" value="Login" id="submit" onclick="setRequired();" />
            </div>
            <div class="button">
                <input type="submit" asp-action="OpenRegister" value="Register" id="register" onclick="removeRequired();" />
            </div>
        </form>
    </div>
<script>
    function setRequired() {
      document.getElementById("username").required = true;
      document.getElementById("password").required = true;
    }
    function removeRequired() {
      document.getElementById("username").required = false;
      document.getElementById("password").required = false;
    }
  </script>
</body>


@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}
