<style>
     header {
         position: relative;
         margin: 30px;
         padding: 20px;
     }

     .form-group {
         position: relative;
         margin: 6px;
         padding: 6px;
     }

     label {
         position: relative;
         margin: 2px;
         padding: 2px;
     }

     form input[type='submit'] {
         display: inline-block;
         width: 70px;
     }

     .button {
         position: relative;
         margin: 20px;
         padding: 20px;
         text-align: center;
     }

     #submit {
         width: 75%;
     }

     #register {
         width: 75%;
     }

     .form-popup {
         position: absolute;
         width: 400px;
         height: 400px;
         top: 55%;
         left: 50%;
         margin: -200px 0 0 -200px;
         border: 3px solid #f1f1f1;
         z-index: 9;
     }

     .form-container {
         width: 400px;
         height: 400px;
         background-color: white;
         position: absolute;
         top: 50%;
         left: 50%;
         margin: -200px 0 0 -200px;
     }

         /* Full-width input fields */
         .form-container input[type=text], .form-container input[type=password] {
             width: 100%;
             padding: 15px;
             margin: 5px 0 22px 0;
             border: none;
             background: #f1f1f1;
         }

             /* When the inputs get focus, do something */
             .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                 background-color: #ddd;
                 outline: none;
             }

         /* Set a style for the submit/login button */
         .form-container .btn {
             background-color: white;
             color: black;
             padding: 16px 20px;
             border: 3px solid;
             cursor: pointer;
             width: 100%;
             margin-bottom: 10px;
             opacity: 0.8;
         }

</style>

<header>
    <div style="text-align: center;"> <h1> Welcome to Recipe Planner</h1> </div>
</header>

<body>  
 <div class="form-popup" id="myForm">
        <form class="form-container" method="post">
            <label for="Username"><b>Username:</b></label>
            <input type="text" placeholder="Enter Username" name="username" id="username" required>

            <label for="Password"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="password" id="password" required>

            <label for="RepeatPassword"><b> Reenter Password:</b></label>
            <input type="password" placeholder="Reenter Password" name="repeatPassword" id="" required>

            <button type="submit" class="btn" asp-action="CreateUser">Register</button>
            <button type="button" class="btn cancel" onclick="history.back()">Cancel</button>
        </form>
    </div>
</body>

@{
    if (TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}
